<!DOCTYPE html>
<html>
  <head>
    <title>Conservation</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="stylesheet" type="text/css" href="style.css">
    <link href="https://fonts.googleapis.com/css?family=Fauna+One|Itim&display=swap" rel="stylesheet">
  </head>
  <body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <br />
        <a class="nav-item" 
          <%= link_to 'Home', root_path %>
         <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link"> 
          <%= link_to 'Inspiration', inspirations_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <%= link_to 'Tips', tips_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <%= link_to 'Recycleable Items', recycleable_items_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <%= link_to 'How to Compost', how_to_compost_path %>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link">
          <%= link_to 'References', references_path %>
        </a>
      </li>
    </ul>
  </div>
</nav>
<br class="clear" />
  <div class="container">
  <% if flash[:error].present? %>
    <div class="col-10 offset-1 alert alert-danger">
      <%= flash[:error].html_safe %>
    </div>
  <% end %>
    <%= yield %>
  </div>
  <div class="footer">
    <div class="container">
      <div class="row float-right">
        <p class="text-muted">
        <%= link_to 'Volunteer', volunteer_path , class: 'volunteer' %>
        &nbsp;&nbsp;&nbsp;&nbsp;
        <%= link_to 'Contact', contact_path, class: 'contact' %>
        </p>
      </div>
    </div>
  </div>
  </body>
</html>
